body{
    width: 100%;
    height: 100%;
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 700;
    font-weight: normal;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;

}

nav{
    width: 100%;
    margin: auto;
    max-width: 1300px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.ton{
    display: flex;
align-items: center;
justify-content: space-between;
overflow-x: hidden;

}
.box{
align-items: center;
display: flex;
justify-content: center;
height: 70px;
background: linear-gradient(90.41deg, #458cfe -.89%, #7dd8fd 112.62%);

}
.logo{ 
 font-weight: bold;
     color: black;
     text-decoration: none;
   color: white;

}

.test:hover{

background-color:rgba(0, 0, 0, 0.044);
opacity: 0.9;

}

.test{

color: black;
text-decoration: none;
font-size: 20px;
padding: 10 15 10 15;
border-radius: 10px;

}

.text-span{
display: flex;
gap: 10px;
font-size: 10px;
font-weight: bold;

}

.ton2{

   
}


.img-span:hover{
    background-color:rgba(0, 0, 0, 0.044);
    opacity: 0.9;

}


.img-span{
    display: flex;
    align-items: center;
    padding: 10 15 10 15;
    border-radius: 10px;
    overflow-x: hidden;


}
.link{
    position: relative; left: 935px;top: 43px;
    color: black;
    text-decoration: none;
    overflow-x: hidden;

}
.dick{
    font-size: 7rem;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;


}
.banana{
    font-size: 12rem;
    text-align: center;
    margin:0px;
    padding: 0px;
    position: relative;
    bottom: 100px;
    background: linear-gradient(90.41deg, #458cfe -.89%, #ed7bf7 112.62%);
    -webkit-background-clip: text; 
    color: transparent; 

}
.orange{
    text-align: center;
    position: relative; bottom: 100px;
    font-size: 1.35rem;

}
.btn1{
    border: 1px solid rgba(0, 0, 0, 0.126);
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative; top: 20px;


}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative; bottom: 100px;
    color: white;
    gap: 30px;

    
}
.btn1:hover{
    background-color:rgba(0, 0, 0, 0.044);
    opacity: 0.9;

}

.box2{
  
   
    height: 800px;
    background-color:rgba(0, 0, 0, 0.044);
}
.head-box{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.ob{
    display: flex;
    flex-direction: row-reverse;
    width: 200%;
}
.btnw{
    border: 1px solid rgba(3, 129, 255, 0.126);
    padding: 16px 32px;
    border-radius: 40px;
    background: #00aaff;
    background-color: #207dffc1;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.tel{
    background: linear-gradient(90.41deg, #458cfe -.89%, #46b4eb 112.62%);
    -webkit-background-clip: text; 
    color: transparent; 
    position: relative; left: 320px; 
    bottom: 125px;
}

.tellogo{
    position: relative; left: 340px; 
    bottom: 110px;
}


.dokme{
    position: relative;
    z-index: 12000;
}
.boxlo{
    width: 0px;
    height: 180px;
    background-color: #0088FF;
    display: flex;
    justify-content: center;
    position: relative; left: 50px;
}

.wlo2{
    font-size: 20px;
    color: white;
position: relative; bottom: 20px;
}

.boxx{
    width: 20px;
    background-color: #0088FF; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 435px;
    position: relative; 
}

 

.imgph{
    position: relative; left: 30px;
    top: 2px;
   
}

.boxx2{
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 435px;
    position: relative;
    box-shadow: white;
    border: 1px solid rgba(3, 129, 255, 0.126);
}
.imgph2{
 margin: 25px;
 position: relative; bottom: 44px;
 
}

.rang{
font-size: large;
font-weight: bold;
position: relative; bottom: 75px;
left: 25px;

}
.abiii{
    color: #00aaff;
}

.boxx3{
    background-color: #181616; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 435px;
    position: relative; 
}
.blackbox{
    padding-left: 30px;
    position: relative; top: 105px;
}
.matn50{
    font-size: large;
    color: white;
    position: relative; bottom: 380px;
    left: 5px;
}
.rangim{
    color: #00aaff;
}
.l{
    height: 100%;
    overflow-x: scroll;
    z-index: 1000;
    position: relative;
}
.boxx4{
    background-color: #fffdfd; 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 435px;
    position: relative; 
   border: 1px solid rgba(3, 129, 255, 0.126);
    box-shadow: #ffffff;
}
.cent{
    position: relative; left: 40px;
    position: relative; bottom: 21px;
}
.matnnn{
    font-size: x-large;
}

.rab{
    color: #00aaff;
    
}



.a{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.044);
    opacity: 0.9;
    height: 1000px; 
    border-radius: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.b{
    display: flex;
    justify-content: space-between;
    width: 110%; 
    height: 800px;
    gap: 20px;
    position: relative;
   bottom: 350px;
    left: 50px;
   
}
.p{
    font-size: 3rem;
    font-weight: bold;
    position: relative; top: 4rem;
    left: 100px;
    top: 50px;
}
.t{
    position: relative; left: 440px;
    bottom: 58px;
}
.o{
    border: 0.5px solid rgba(0, 0, 0, 0.126);
    padding: 20px;
    border-radius: 60px;
    background-color:#0198ea;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative; bottom: 293px;
    left: 80vw;
}
.tm{
    font-size: 55px;
    font-weight: bold;
    position: relative; left: 510px;
    bottom:180px ;
    background:  linear-gradient(90.41deg, #0198ea 51.35%, #14bcfa 100.71%);
    -webkit-background-clip: text; 
    color: transparent;
}
.c{
    height: 600px;
    width: 450px;
    border-radius: 20px; 
    background-color:  #40A8F3;
    border: 1px solid rgba(3, 129, 255, 0.126);
    position: relative; top: 120px;
}
.cp{
    position: relative; left: 36px;
    top: 151px;
}
.cm{
  position: relative; bottom: 400px;
  left: 50px;
  font-size: 23px;
  font-weight: bold;
  color:white;
}
.cl{
    position: relative; right: 252px;
    bottom: 371px;
}
.mb{
    position: relative; left: 20px;
}
.d{
    height: 600px;
    width: 450px;
    border-radius: 20px; 
    background-color:  #ffffff;
    border: 1px solid rgba(3, 129, 255, 0.126);
    position: relative; top: 120px;
}
.dp{
    position: relative; left: 63px;
   
}
.db{
    color: #00aaff;
}
.dm{
    position: relative; top: 0px;
    left: 20px;
    font-weight: bold;
    font-size: 24px;
}
.e{
   height: 600px;
   width: 450px;
    border-radius: 20px; 
    background-color:   #101820;
    border: 1px solid rgba(3, 129, 255, 0.126);
    position: relative; top: 120px;
    
}
.ep{
   position: relative; top: 201px;
   left: 60px;
}
.em{
    position: relative; left: 31px;
    color: #fffdfd;
    font-size: 24px;
    position: relative; bottom: 400px;
}
.eb{
    color:#00aaff;
}

.f{
   height: 600px;
   width: 450px;
    border-radius: 20px; 
    background-color:   #ffffff;
    border: 1px solid rgba(3, 129, 255, 0.126);
    position: relative; top: 120px;
}
.fp{
    position: relative; left: 60px;
}
.fb{
    color: #00aaff;
    font-size: 28px;
}
.fm{
    font-size: 28px;
    position: relative; left: 20px;
    top: 20px;
}
.k{
    width: 100%;
    max-width: 1500px;
margin: auto
}
.ss{
    width: 100%;
    opacity: 0.9;
    height: 500px; 
    border-radius: 15px;
}
.ms{
    position: relative; bottom: 190px;
}
.si{
    font-size: 2.5rem;
    font-weight: bold;
    position: relative; left: 180px;
    top: 90px;
}
.so{
    font-size: 1.25rem;
    position: relative; top: 60px;
    left: 180px;
}
.sb{
    border: 1px solid rgba(0, 0, 0, 0.126);
    padding: 20px;
    border-radius: 60px;
    background-color:#0198ea;
    box-shadow: #0088FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: relative; top: 65px;
    left: 170px;
}
.bs{
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
height: 200px;
width: 550px;
position: relative; left: 800px;
top: 200px;
}
.svg{
    position: relative; left: 20px;
    top: 15px;
}
#svm{
    color: #728A96;
    position: relative; left: 90px;
    bottom: 60px;
    font-size: 20px;
}
#sva{
    font-size: 1.75rem;
    font-weight: 550;
   position: relative; bottom: 80px;
   left: 90px;
}
.kh{
    position:  relative; bottom: 60px;
    background-color:#e2e2e2;
    width: 550px;
    height: 0.8;
}
#kh2{
    position: relative; top: 25px;
    width: 550px;
    height: 0.8;
    background-color:#e2e2e2;
}
.kh3{
    rotate: 90deg;
    width: 60px;
    height: 0.8px;
    background-color:#e2e2e2;
    position: relative; bottom: 15px;
    left: 150px;
}
.kh4{
    rotate: 90deg;
    width: 60px;
    height: 0.8px;
    background-color:#e2e2e2;
    position: relative; bottom: 15px;
    left: 350px;
}
#rk{
    color: #728A96;
    position: relative; left: 60px;
    bottom: 45px;
}
#lor{
 position: relative; top: 3px;
}
#num{
    font-size: 25px;
    position: relative; bottom: 43px;
left: 63px;
}
#mar{
    position:relative; left: 245px;
    bottom: 108px;
    color: #728A96;
}
.adad{
    position:relative; left: 250px;
    bottom: 120px;
    font-size: 1.45rem;
    font-weight: 550;
}
.vle{
    position: relative; bottom: 185px;
    left: 440px;
    color: #728A96;
}
#ad{
    position: relative; bottom: 196px;
    left: 410px;
    font-size: 1.45rem;
    font-weight: 550;
}
#lil{
    width: 870px;
    height: 65px;
    position: relative; left: 180px;
    font-size: 1.3rem;
}
.page2{
    position: relative; top: 50px;
    left: 150px;
    height: 650px;
    width: 1250;
    gap:10px 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);


}
.box02{
    width: 280px;
    height: 260px;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
}
.box02:hover{
    background-color:rgba(0, 0, 0, 0.116);
    opacity: 0.9;
}

.box03{
    width: 320px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 15px;
    position: relative; left: 15px;
}
.box03:hover{
    background-color:rgba(0, 0, 0, 0.116);
    opacity: 0.9;
}
.aks03{
    position: relative; left: 25px;
    top: 20px;
}
.box04{
    width: 320px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 15px;
    position: relative; left: 30px;
}
.yazid{
    font-size: 20px;
    font-weight: 550;
    position: relative; top: 20px;
    left: 10px;
}
.soli{
    position: relative; left: 10px;
}
.li0{
    position: relative; top: 60px;
    left: 10px;
    color: #0198ea;
    text-decoration: none;
}
.yazid2{
    font-size: 20px;
    position: relative; left: 30px;
    top: 35px;
    margin-bottom: 30px;
}
.soli2{
    position: relative; top: 10px;
    left: 30px;
}
.li1{
    position: relative; left: 30px;
    top: 75px;
    text-decoration: none;
    color: #0198ea;
}

.box04:hover{
    background-color:rgba(0, 0, 0, 0.116);
    opacity: 0.9;
}
.aks04{
    position: relative; left: 20px;
    top: 17px;
}
.yazid3{
    color: #04060bd3;
    font-size: 20px;
    position: relative; top: 30px;
    left: 25px;
}
.soli3{
    position: relative; left: 25px;
    bottom: 10px;
}
.li2{
    color: #0198ea;
    text-decoration: none;
    position: relative; left: 25px;
    top: 17px;
}
.box05{
    width: 320px;
    height: 250px;
    background-color: #f4f4f4;
    border-radius: 15px;
    position: relative;
    bottom: 30px;
}
.box05:hover{
    background-color:rgba(0, 0, 0, 0.116);
    opacity: 0.9;
}
.aks05{
    position: relative; left: 20px;
    top: 20px;
}
.yazid4{
    color: #04060bd3;
    font-size: 20px;
    position: relative; left: 25px;
    top: 30px;
}
.soli4{
    position: relative;
    left: 23px;
    top: 10px;
}
.li3{
    color: #0198ea;
    text-decoration: none;
    position: relative;
left: 23px;
top: 27px;
}
.box06{
    width: 320px;
    height: 250px;
    background-color:#f4f4f4;
    border-radius: 15px;
    position: relative;
    bottom: 30px;
    left: 15px;
}
.box06:hover{
    background-color:rgba(0, 0, 0, 0.116);
    opacity: 0.9;

}
.aks06{
position: relative;
left: 20px;
top: 20px;
}
.yazid5{
    color: #04060bd3;
    font-size: 20px;
    position: relative; left: 25px;
    top: 30px;
}
.soli5{
    position: relative;
    left: 23px;
    top: 10px;
}
.li4{
   color: #0198ea; 
   text-decoration: none;
   position: relative;
left: 26px;
top: 42px;
}
.titr{
    width: 1120px;
    height: 50px;
    position: relative;
    left: 50px;
    top: 80px;
}
#sar{
    position: relative;
    left: 115px;
    font-size: 2.25rem;
}
#li5{
   position: relative; left: 86%;
   bottom: 53px;
   color: #0198ea;
   text-decoration: none;
  font-size: large;
}
.page3{
    width: 1120px;
    height: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
    justify-content: center;
    position: relative; top: 85px;
    margin: 0 auto;
}
.back1{
    width: 340px;
    height: 500px;
    background-color: rgba(7, 172, 255, 1);
    border-radius: 20px;
    position: relative;
    right: 30px;
}
.logo06{
    position: relative;
    bottom: 60%;
    left: 30px;
}
.matn00{
    position: relative;
    bottom: 305px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.k021{
    position: relative;
    bottom: 315px;
    left: 30px;
    color: #ffffff;
}
.photo1{
   position: relative; 
   right: 40px;
    top: 150px;
}
.back2{
    width: 340px;
    height: 500px;
    background-color: #1E2531;
    border-radius: 20px;
    position: relative;
    right: 55px;
    top: 0;
}
.logo07{
position: relative;
bottom: 300px;
left: 30px;
}
.photo2{
    position: relative; 
    top: 150px;
    right: 10px;
}
.matn000{
    position: relative;
    bottom: 305px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
} 
.k022{
    position: relative;
    bottom: 315px;
    left: 30px;
    color: #ffffff;
}
.back3{
    width: 340px;
    height: 500px;
    background:linear-gradient(0deg, #79C9FF 0.12%, #1889FF 99.89%);
    border-radius: 20px;
    position: relative;
    right: 75px;
}
.logo08{
    position: relative; bottom: 60%;
    left: 30px;
}
.matn0000{
    position: relative;
    bottom: 310px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.k023{
    position: relative;
    bottom: 315px;
    left: 30px;
    color: #ffffff;
}
.photo3{
    position: relative;
    top: 150px;
    right: 20px;
}
.back4{
    width: 340px;
    height: 500px;
    background: rgba(18, 23, 44, 1);;
    border-radius: 20px;
    position: relative; 
    right: 30px;
}
.logo09{
    position: relative; bottom: 60%;
    left: 30px;
}
.photo4{
    position: relative;
    top: 150px;
    right: 55px;
}
.matn00000{
    position: relative;
    bottom: 310px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.k024{
    position: relative;
    bottom: 315px;
    left: 30px;
    color: #ffffff;
    font-family: sans-serif;
}
.back5{
    width: 340px;
    height: 500px;
    background: rgba(112, 123, 255, 1);
    border-radius: 20px;
    position: relative; 
    right: 50px;
}
.logo010{
position: relative;
top: 30px;
left: 30px;
}
.photo5{
    position: relative;
    top: 125px;
    left: 50px;
}
.matn000000{
    position: relative;
    bottom: 330px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.k025{
    position: relative;
    bottom: 340px;
    left: 30px;
    color: #ffffff;
    font-family: sans-serif;
}
.back6{
    width: 340px;
    height: 500px;
    background-color: #4190F7;
    border-radius: 20px;
    position: relative; 
    right: 70px;
}
.logo011{
    position: relative;
    top: 30px;
    left: 30px;
}
.matn0000000{
    position: relative;
    bottom: 330px;
    left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.k026{
    position: relative;
    bottom: 340px;
    left: 30px;
    color: #ffffff;
    font-family: sans-serif;
}
.photo6{
    position: relative;
    top: 125px;
    left: 55px;
}
.page4{
    width: 100%;
    height: 900px; 
    position: relative;
    top: 200px;
   display: grid;
}
.titr01{
    position: relative;
    left: 170px;
    bottom: 30px;
}
.box021{
    width: 1050px;
    height: 270px;
    background: linear-gradient(90.41deg, #458cfe -.89%, #7dd8fd 112.62%);
    border-radius: 20px;
    position: relative;
justify-content: center;
position: relative;
left: 11%;
bottom: 100px;
}
.lib{
    width: 100px;
    height: 17px;
    font-weight: 600;
position: relative;
left: 40px;
top: 40px;
color: #ffffff;
background-color: rgba(255, 255, 255, 0.145);
border-radius: 10px;
padding: 5 15 5;
}
.matnp4{
    font-size: 25px;
    position: relative;
    left: 40px;
    top: 30px;
    color:#ffffff;
}
.lim{
    font-size: 20px;
    position: relative;
    left: 42px;
    top: 20px;
    color:#ffffff;
}
.btp4{
    position: relative; left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.126);
    padding: 0px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative; bottom: 190px;
height: 45px;
width: 120px;
}
.linkkk{
text-decoration: none;
color: #00aaff;
font-weight: 750;
}
.imgp4{
    position: relative; 
    left: 40%;
    bottom: 125px;
}
.box022{
    width: 1050px;
    height: 270px;
    background: linear-gradient(rgb(103, 116, 254) 0%, rgb(153, 161, 250) 100%);
    border-radius: 20px;
    position: relative;
justify-content: center;
position: relative;
left: 11%;
bottom: 45%;
}
.img2p4{
    position: relative; 
    left: 55%;
    top: 10px;
}
.lib2{
    width: 100px;
    height: 17px;
    font-weight: 600;
    position: relative;
    bottom: 80%;
    left: 50px;
color: #ffffff;
background-color: rgba(255, 255, 255, 0.145);
border-radius: 10px;
padding: 5 15 5;
}
.matn2p4{
    position: relative;
    bottom: 75%;
    left: 50px;
    font-size: 25px;
    color: #ffffff;
}
.lim2{
    position: relative;
    bottom: 78%;
    left: 50px;
    font-size: 20px;
    color: #ffffff;
}
.bt2p4{
    position: relative;
    bottom: 75%;
    left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
height: 45px;
width: 120px;
}
.linkp4{
text-decoration: none;
color: #00aaff;
font-weight: 750;
}
.road{
    position: relative;
    bottom: 74.5%;
    left: 70px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
.dev{
    position: relative;
    bottom: 74.5%;
    left: 100px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
.page5{
    width: 100%;
    height: 1100px;
    background-color: #12172c;
    position: relative; 
    top: 5%;
}
.matnp5{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 120px;
}
.boxp5{
    background-color: #1e2337;
    border-radius: 30px;
    width: 75%;
    height: 500px;
    position: relative;
    left: 12%;
    top: 17%;
    display: block;
}
.boxes{
    width: 250px;
    height: 420px;
display: flex;
flex-direction: column;
position: relative;
top: 40px;
left: 0px;

}
.appbox{
    width: 250px;
    height: 52px;
    background-color: #1e2337;
}
.appbox:hover{
   background:  hsla(0, 0%, 100%, .03);
}
.imgp5{
    position: relative;
    top: 12px;
    left: 40px;
}
.appm{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 7px;
    left: 50px;
}
.appbox2{
    width: 250px;
    height: 52px;
    background-color: #1e2337;
}
.appbox2:hover{
    background:  hsla(0, 0%, 100%, .03);
 }
.img2p5{
    position: relative;
    top: 13px;
    left: 40px;
}
.appm2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 8px;
    left: 50px;
}
.appbox3{
    width: 250px;
    height: 52px;
    background-color: #1e2337;
}
.appbox3:hover{
    background:  hsla(0, 0%, 100%, .03);
 }
.img3p5{
    position: relative;
    top: 12px;
    left: 40px;
}
.appm3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 7px;
    left: 50px;
}
.divep{
    width: 180px;
    height: 74px;
  color: #f0f0f0;
  position: relative;
  top: 170px;
  left: 42px;
}
.apppar{
    font-size: 16px;
}
.maplin{
    color: #07acff;
    text-decoration: none;
}

.khatam{
    background-color: #2c3043;
    height: 400px;
    width: 2px;
    position:absolute;
    top: 0px;
    right: 0px;
}
.box-tabimg{
    width: 890px;
    height: 400px;
    position: absolute;
    top: 40px;
    right: 0px;
padding: 0px 40px;
}
.headb5{
    width: 350px;
    height: 400px;
    position: absolute;
    display: block;
}
.headingtab{
    width: 350px;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    right: 0;
    left: 80px;
    color: #ffffff;
    letter-spacing: -.19px;
}
.paragraf5{
    width: 352px;
    color: #e0e0e0;
    position: absolute;
    right: 0;
    left: 80px;
    top: 40px;
    font-size: 18px;
    text-align: start;
    line-height: 26px;
    letter-spacing: -.14px;
}
.walletli{
    text-decoration: none;
    color: #07acff;
}
.butmini{
    position: absolute;
    bottom: 120px;
    right: 120px;
    border-radius: 40px;
    background-color: #0098ea;
    width: 150px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.126);
    margin-top: 24px;
}
.bma{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.buildimg{
    position: absolute;
    right: 40px;
    border-radius: 15px;
}
.threebox{
    width: 100%;
    height: 215px;
    position: relative;
    top: 240px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cardbox{
    width: 360px;
    height: 215px;
  background-color: #1e2337;
 border-radius: 20px;
 position: relative;
  left: 185px;
}
.icon01{
    position: relative;
    left: 40px;
    top: 25px;
}
.topmtn{
    width: 250px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 40px;
}
.downmtn{
    width: 280px;
    color: #e3e3e3;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 55px;
    left: 40px;
    letter-spacing: -.14px;
    line-height: 25px;
}
.cardbox:hover{
    background:  hsla(0, 0%, 100%, 0.078);
 }
.cardbox2{
    width: 360px;
    height: 215px;
  background-color: #1e2337;
  border-radius: 20px;
  position: relative;
  left: 195px;
}
.icon02{
    position: relative;
    left: 40px;
    top: 25px;
}
.topmtn2{
    width: 280px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 40px;
}
.downmtn2{
    width: 280px;
    color: #e3e3e3;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 55px;
    left: 40px;
    letter-spacing: -.14px;
    line-height: 25px;
}
.cardbox2:hover{
    background:  hsla(0, 0%, 100%, 0.078);
 }
.cardbox3{
    width: 360px;
    height: 215px;
  background-color: #1e2337;
  border-radius: 20px;
  position: relative;
  left: 200px;
}
.icon03{
    position: relative;
    left: 40px;
    top: 25px;
}
.topmtn3{
    width: 280px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 40px;
}
.downmtn3{
    width: 280px;
    color: #e3e3e3;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 55px;
    left: 40px;
    letter-spacing: -.14px;
    line-height: 25px;
}
.cardbox3:hover{
    background:  hsla(0, 0%, 100%, 0.078);
 }
 .container{
    width: 100%;
    height: 600px;
    position: relative;
    top: 180px;
 }
 .page6{
    width: 1150px;
    height: 570px;
    position: relative;
    left: 115px;
    gap: 20px;
 }
 .mtnp6{
    width: 1150px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    left: 70px;
 }
 
 .community-member{
    width: 550px;
    height: 450px;
    background: linear-gradient(90.41deg, #458cfe -.89%, #7dd8fd 112.62%);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 70px;
 }

 .ton-community{
    width: 550px;
    height: 270px;
    background-color: #12172c;
    border-radius: 20px;
    position: relative;
    left: 650px;
    top: 72px;
 }
 .bigcard{
    width: 550px;
    height: 252px;
    border-radius: 20px;
    background-color: #12172c;
    position: relative;
    left: 650px;
    top: 0;
 }
.jtn{
    color: #ffffff;
    width: 480px;
    height: 30px;
   font-size: 24px;
   position: relative;
   left: 30px;
   top: 30px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: -.19px;
}
.textcard{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    width: 480px;
    height: 52px;
    position: relative;
    left: 30px;
    top: 35px;
    line-height: 26px;
   letter-spacing: -.14px;
}
.back-button-smalltext{
    width: 330px;
    height: 45px;
    position: relative;
    top: 40px;
    left: 30px;
    margin-top: 12px;
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}
.buttonspace{
    width: 205px;
    height: 45px;
    background-color: #fff;
    border-radius: 24px;
}
.tel-small{
    width: 160px;
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
    top: 10px;
    left: 24px;
}
.smalltext{
    text-decoration: none;
   color: #1889FF; 
   font-size: 14px;
   font-weight: 700;
   position: relative;
   top: 2px;
}
.small-link{
    position: absolute;
    right: 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}